<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
   <router-outlet></router-outlet>
   <!--
  <div class = "container">
       <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-info" 
                (click) = "getUserList()" > Get User List</button> &nbsp;&nbsp;
                <button class="btn btn-primary" 
                    (click) = "addUser()" > Add User</button>
                    &nbsp;&nbsp;
                <button class="btn btn-primary" 
                    (click) = "addItem()" > Add User's Item</button>
            </div>
            
                    
                
                <div class="row"></div>
                    <div class = "row" *ngIf = "isAddUserClicked">
                        <div class="col-sm-6">
                        <app-user-form ></app-user-form>
                    </div>
                </div>
                <div class = "row" *ngIf = "isAddUserItemClicked">
                    <span class=
                    "alert">still showing...</span>
                        <div class="col-sm-6">
                        <app-form (onExitEvent) = "exitEventFired($event)" [exitItemFormPage] = "exitItemFormPage"></app-form>
                    </div>
                </div>
       </div>
       <div class="row"></div>
       <div class = "row"  *ngIf = "ifGetUserListClicked">
            <div class="col-sm-6">
            <app-users-list [userList] = "usersList" (notifyUD) = "handleUd($event)">
               
            </app-users-list>
            
           </div>
    </div>
    <div class="row" *ngIf = "userItem">
            <h4>User's Item Details</h4>
            <table class="table table-hover" id="ulistTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Item Id</th>
                            <th>Title</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                     <tr> 
                        <td> {{userItem.id}} </td>
                        <td> {{userItem.userId}} </td>
                        <td> {{userItem.title}} </td>
                        <td> {{userItem.body}} </td>
                        <td>  <button class="btn  btn-primary" style="margin-top: 50%" (click) = "getEditingData(userItem)">edit</button></td>
                       <td>  <button class="btn  btn-danger" style="margin-top: 50%" (click) = "deleteIUsertem(userItem)">delete</button></td>
                     
                    </tr>
        </tbody>
        </table>
    </div>
    <div *ngIf = "doingEdit">
            <div class = "container">
                    <h1>User's Item Form</h1>
                    <form (submit) = "saveEditFormData(userItem)">
                       <div class = "form-group">
                          <label for = "id">ID</label>
                          <input type = "text" class = "form-control" id = "id" required
                             [(ngModel)] = "userItem.id" name = "id">
                       </div>
                       <div class = "form-group">
                            <label for = "userId">Item Id</label>
                            <input type = "text" class = "form-control" id = "userId"
                               [(ngModel)] = "userItem.userId" name = "userId">
                         </div>
                       <div class = "form-group">
                          <label for = "title">Title</label>
                          <input type = "text" class = "form-control" id = "title"
                             [(ngModel)] = "userItem.title" name = "title">
                       </div>
                       <div class = "form-group">
                            <label for = "body">Description</label>
                            <input type = "text" class = "form-control" id = "body"
                               [(ngModel)] = "userItem.body" name = "body">
                         </div>
                       
                       <button class="btn btn-primary">save</button>
                    </form>
                 </div>
            
            
    </div>
  </div>
-->